.add-note-container {
  width: 100%;
  height: 30%;
  background-image: linear-gradient(lightpink, white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.enter-text {
  width: 40%;
  height: 40%;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 10px 20px grey, 0 6px 6px lightslategray;
  border-radius: 15px;
  font-family: cursive;
}

.save-button {
  width: 100px;
  background-color: #44c767;
  border-radius: 28px;
  border: 1px solid #18ab29;
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  padding: 8px 8px;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  text-shadow: 0px 2px 0px #2f6627;
  margin: 3px;
}

.edit-button {
  width: 40px;
  border-radius: 30px;
  cursor: pointer;
  margin: 2px;
}

.delete-button {
  border-radius: 50%;
  cursor: pointer;
  padding: 8px 8px;
  margin: 2px;
}

.edit-button,
.delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-button-img,
.edit-button-img {
  width: 25px;
  height: 30px;
}

.save-button:hover {
  background-color: #5cbf2a;
}

.edit-button:hover {
  background-color: rgb(0, 255, 42);
  opacity: 0.8;
}

.delete-button:hover {
  background-color: #ff0000;
  opacity: 0.8;
}

.save-button:active {
  position: relative;
  top: 1px;
}

.edit-delete-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.current-notes-body {
  overflow-x: auto;
  width: 100%;
  height: 70%;
  background-image: linear-gradient(white, lightblue);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

.archive-note-with-buttons:nth-child(n) {
  background-color: #f7d198;
}

.archive-note-with-buttons:nth-child(2n) {
  background-color: rgb(179, 243, 195);
}

.archive-note-with-buttons:nth-child(3n) {
  background-color: rgb(229, 173, 236);
}

.archive-note-with-buttons:nth-child(4n) {
  background-color: rgb(238, 236, 144);
}

.archive-note-with-buttons:nth-child(5n) {
  background-color: rgb(238, 153, 153);
}

.archive-note-with-buttons:nth-child(6n) {
  background-color: rgb(144, 174, 238);
}

.archive-note-with-buttons {
  overflow-y: auto;
  max-height: auto;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  float: left;
  word-wrap: break-word;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  padding-bottom: 0%;
}

.archive-note-with-buttons:hover {
  box-shadow: 0 10px 20px grey, 0 6px 6px lightslategray;
}

.archive-data {
  font-size: 20px;
  text-align: left;
}

.archive-time {
  font-size: 10px;
  text-align: end;
  opacity: 0.5;
}